<div class="card">
    <div class="header">
        <h2>
            <?php echo $text_list; ?> <small>Description text here...</small>
        </h2>
    </div>
    <!--
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>USERNAME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>Jellybean</td>
                    <td>@lajelly</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Larry</td>
                    <td>Kikat</td>
                    <td>@lakitkat</td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
    <!--Card Body-->
    <div class="body">
    <!--Article Card -->
      <article class="card article">
          <div class="header">
              <h2 class="title">About Our Company</h2>
              <div class="meta-options">
              <span class="meta-data"><i class="material-icons">turned_in</i> Andrew Nite</span>
              <span class="meta-data"><i class="material-icons">today</i> 15 May, 2018</span>
              <span class="meta-data"><i class="material-icons">sort</i> Post Order 7</span>
              <span class="options">
                <a href="#" title="#" class="btn btn-success btn-xs waves-effect">
                  <i class="material-icons">edit</i>
                  <span class="text-uppercase">Edit</span>
                </a>
                <button href="#" class="btn bg-red btn-xs waves-effect">
                  <i class="material-icons">delete_forever</i>
                  <span class="text-uppercase">Delete</span>
              </button>
              </span>
              </div>
              <ul class="header-dropdown">
                  <li class="dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="javascript:void(0);" class="waves-effect waves-block">Action</a></li>
                          <li><a href="javascript:void(0);" class="waves-effect waves-block">Another action</a></li>
                          <li><a href="javascript:void(0);" class="waves-effect waves-block">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <div class="body">
            <div class="media">
                <h2><i class="material-icons">photo_library</i> Attched Media</h2>
                <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <a href="view/images/image-gallery/1.jpg" data-sub-html="Demo Description">
                      <img class="img-responsive thumbnail" src="view/images/image-gallery/thumb/thumb-1.jpg">
                  </a>
              </div>
              </div>
            </div>
            <div class="article">
              <div class="post">
              Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="meta-options">
              <span class="meta-data"><i class="material-icons">local_offer</i> Andrew Nite</span>
              <span class="meta-data"><i class="material-icons">today</i> 15 May, 2018</span>
              <span class="meta-data"><i class="material-icons">tag</i> Post Order 7</span>
            </div>
          </div>
        </article>
        <article class="card article">
                <div class="header">
                    <div class="article-checkbox">
                        <input type="checkbox" id="md_checkbox_1" class="chk-col-red" />
                        <label for="md_checkbox_1"></label>
                    </div>
                    <h2 class="title">About Our Company</h2>
                    <div class="meta-options">
                      <span class="meta-data"><i class="material-icons">turned_in</i> Andrew Nite</span>
                      <span class="meta-data"><i class="material-icons">today</i> 15 May, 2018</span>
                      <span class="meta-data"><i class="material-icons">sort</i> Post Order 7</span>
                    <span class="options">
                      <a href="#" title="#" class="btn btn-success btn-xs waves-effect">
                        <i class="material-icons">edit</i>
                        <span class="text-uppercase">Edit</span>
                      </a>
                      <button href="#" class="btn bg-red btn-xs waves-effect">
                        <i class="material-icons">delete_forever</i>
                        <span class="text-uppercase">Delete</span>
                    </button>
                    </span>
                    </div>
                    <ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class="waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect waves-block">Another action</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect waves-block">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                  <div class="article">
                    <div class="post">
                    Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                    </div>
                  </div>
                </div>
            </article>
    </div>
</div>